.options-table {
    border-collapse: collapse;
    font-size: 1rem;
    margin-bottom: 3rem;
    
    th {
        border: 1px solid #666;
        padding: 5px 10px;
        vertical-align: top;
        word-break: break-word;
    }
    td {
        border: 1px solid #666;
        padding: 5px 10px;
        vertical-align: top;
        word-break: break-word;
    }
}